/dataprep_venv/*
results/*.png
/excel/*
.env
/source_data/*.xlsx
/venv/*
/plot_venv/*
/automl_venv/*
/mlruns/*
__pycache__
*.pkl
results/models_results/**/best_models/
results/models_results/randomsearch/
results/histograms/